@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}

.bg-banner{
    max-width: 1440px;
    height: 652px;
    background-image: url("../image/Hero-bg.png");
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
}
.banner-icon{
    width: 240px;
    height: 240px;
}
.banner-icon{
    background-image: url("../image/Group.png");
}
h1{
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
   color: #0D1321;
}
p{
    font-size: 16px;
    text-align: center;
    color: #0D1321;
}
.btn{
    background-color: black;
    color: white;
   width: 205px;
   height: 66px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 600;
   margin-top: 30px;
 
}
.why-web-devolop{
    max-width: 1000px;
    height: 1393px;
    
    margin-top: 74px;
    margin-left: 200px;
    margin-right: 150px;
    
}
.tittle{
    width: 1000px;
    height: 113px;
    color: #0D1321;
    font-size: 32px;
    margin: auto;
}
.first-content{
    width: 1000px;
    height: 336px;
    
    margin-top: 60px;
    align-items: first baseline;
    display: flex;
}
.second-content{
    width: 1000px;
    height: 336px;
   
    margin-top: 60px;
    display: flex;
}
.third-content{
    width: 1000px;
    height: 336px;
    
    margin-top: 60px;
    display: flex;
}
.first-content-text{
    width: 60%;
    height: 336px;
    color: #373A50;
    margin: auto;

}
.first-content-text h4{
    font-size: 24px;
    margin-top: 60px;
    color: #373A50;
}
.first-content-text p{
    font-size: 16px;
    text-align: left;
    color: #373A50;
}
.buttontwo{
    width: 171px;
    height: 47px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    border: 2px solid #0D1321;
}
.first-content-img{
    width: 40%;
    height: 336px;
    
    background-image: url("../image/Layer_1.png");
    background-repeat: no-repeat;
   margin-top: 50px;
   margin-left: 100px;
}
.second-content-img{
    width: 40%;
    height: 336px;
    margin-top: 30px;
    background-image: url("../image/Group\ 3.png");
    background-repeat: no-repeat;
}
.second-content-text{
    width: 60%;
    height: 336px;
    color: #373A50;
   
}
.second-content-text h4{
    font-size: 24px;
    margin-top: 60px;
    color: #373A50;
}
.second-content-text p{
    font-size: 16px;
    text-align: left;
    color: #373A50;
}
.third-content-text{
    width: 60%;
    height: 336px;
    color: #373A50;
}
.third-content-img{
    width: 40%;
    height: 336px;
   margin-top: 30px;
   margin-left: 100px;
    background-image: url("../image/Group\ 4.png");
    background-repeat: no-repeat;
}
.third-content-text h4{
    font-size: 24px;
    margin-top: 60px;
    color: #373A50;
}
.third-content-text p{
    font-size: 16px;
    text-align: left;
    color: #373A50;
}
.tittle-video{
    max-width: 1440px;
    height: 775px;
    
    
}
.secend-tittle{
    width: 1440px;
    height: 113px;
    
  
}
.video{
   margin-left: 100px;
   margin-top: 100px;  
}
.current-target{
    width: 1440px;
    height: 460px;
    
   
}

  .card-img-container{
    width: 1300px;
    height: 650px;
   margin-top: 140px;
    
  }
  .current-target{
    
    width: 1300px;
    height: 213px;
    color: #373A50;
    
  }
  .arrange{
   display: flex;
  }
.card-one{
    width: 364px;
    height: 299px;
    color: #373A50;
    margin-left: 50px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.card-two{
    width: 364px;
    height: 299px;
    color: #373A50;
    margin-left: 50px;
    background-color: rgb(188, 252, 241);
    border-radius: 10px;
}
.card-three{
    width: 364px;
    height: 299px;
    color: #373A50;
    margin-left: 50px;
    background-color: rgb(227, 254, 173);
    border-radius: 10px;
}
.card-one-position{
    width: 284px;
    height: 219px;
    color: #373A50;
    margin-left: 40px;
    margin-top:40px ;
    background-image: url("../image/html.png");
    background-repeat: no-repeat;
}
.card-two-position{
    width: 284px;
    height: 219px;
    padding-top: 10px;
    margin-left: 40px;
    margin-top:40px ;
    background-image: url("../image/js.png");
    background-repeat: no-repeat;
}
.card-three-position{
    width: 284px;
    height: 219px;
    padding-top: 10px;
    margin-left: 40px;
    margin-top:40px ;
    background-image: url("../image/css.png");
    background-repeat: no-repeat;
}
.text{
    margin-top: 70px;
    font-size: 26px;
    height: 139px;
    width: 284px;
}
.label{
    text-decoration: underline;
}
.cover-text-position{
    width: 284px;
    height: 139px;
   margin-top: 150px;
    margin-top: 5px;
    padding-top: 10px;
}
.footer{
    display: flex;
   
}
.footer-main{
    width: 1140px;
    height: 313px;
    
    margin-left: 50px;
   background-image: url("../image/handshake.jpg");
   background-repeat: no-repeat;
   background-position: center;
}
.footer-second{
    width: 1044px;
    height: 185px;
   color:#FFFFFF ; 
   margin: 64px 48px;
   text-align: center;
   color: white;
}
.footer-second p{
    color: #FFFFFF;
}
.footer-second h1{
    color: #FFFFFF;
    font-weight: bolder;
}
.input{
    margin-left: 40px;
    margin-top: 50px;
   
}
 .btn{
    text-decoration: none;
}