@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}

.bg-banner{
    max-width: 1440px;
    height: 652px;
    background-image: url("../image/Hero-bg.png");
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    
}
.banner-icon{
    width: 240px;
    height: 240px;
}
.banner-icon{
    background-image: url("../image/Group.png");
}
h1{
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
   color: #0D1321;
}
p{
    font-size: 16px;
    text-align: center;
    color: #0D1321;
}
.btn{
    background-color: black;
    color: white;
   width: 205px;
   height: 66px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 600;
   margin-top: 30px;
}
.why-web-devolop{
    max-width: 1000px;
    height: 1393px;
    
    margin-top: 74px;
    margin-left: 200px;
    margin-right: 150px;
    
}
.tittle{
    width: 1000px;
    height: 113px;
    color: #0D1321;
    font-size: 32px;
    margin: auto;
}
.first-content{
    width: 1000px;
    height: 336px;
    
    margin-top: 60px;
    align-items: first baseline;
    display: flex;
}
.second-content{
    width: 1000px;
    height: 336px;
   
    margin-top: 60px;
    display: flex;
}
.third-content{
    width: 1000px;
    height: 336px;
    
    margin-top: 60px;
    display: flex;
}
.first-content-text{
    width: 60%;
    height: 336px;
    color: #373A50;
    margin: auto;

}
.first-content-text h4{
    font-size: 24px;
    margin-top: 60px;
    color: #373A50;
}
.first-content-text p{
    font-size: 16px;
    text-align: left;
    color: #373A50;
}
.buttontwo{
    width: 171px;
    height: 47px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    border: 2px solid #0D1321;
}
.first-content-img{
    width: 40%;
    height: 336px;
    
    background-image: url("../image/Layer_1.png");
    background-repeat: no-repeat;
   margin-top: 50px;
   margin-left: 100px;
}
.second-content-img{
    width: 40%;
    height: 336px;
    margin-top: 30px;
    background-image: url("../image/Group\ 3.png");
    background-repeat: no-repeat;
}
.second-content-text{
    width: 60%;
    height: 336px;
    color: #373A50;
   
}
.second-content-text h4{
    font-size: 24px;
    margin-top: 60px;
    color: #373A50;
}
.second-content-text p{
    font-size: 16px;
    text-align: left;
    color: #373A50;
}
.third-content-text{
    width: 60%;
    height: 336px;
    color: #373A50;
}
.third-content-img{
    width: 40%;
    height: 336px;
   margin-top: 30px;
   margin-left: 100px;
    background-image: url("../image/Group\ 4.png");
    background-repeat: no-repeat;
}
.third-content-text h4{
    font-size: 24px;
    margin-top: 60px;
    color: #373A50;
}
.third-content-text p{
    font-size: 16px;
    text-align: left;
    color: #373A50;
}
.tittle-video{
    max-width: 1440px;
    height: 775px;
    
    
}
.secend-tittle{
    width: 1440px;
    height: 113px;
    
  
}
.video{
   margin-left: 100px;
   margin-top: 100px;
    
    
}